.mix {
    background-color: $main-bg;
    padding-bottom: 45px;

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    
    &__title {
        padding: 25px 0 5px;
    }

    &__sub-title {
        padding: 5px 0 25px;
    }

    &__content {
        
        &-wrap {
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 25px 0 0;
            text-align: center;
            
            & li {
                transition: opacity 0.3s;
                padding: 2px 2px;
                height: 28px;
                width: 25%;
            }

            & li:hover {
                border: 1px solid #3ECF5E;
                border-radius: 5px;
            }

            &-cards a {
                // font-family: 'Gilroy';
                font-size: 18px;
                // font-weight: 500;
                line-height: 21.19px;
                text-align: center;
                color: $text-grey;
                white-space: nowrap;
            }
        }
    }
}

@media (max-width: 1250px) {
    .mix__ovomix {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

        &-wrap {
            width: 45%;
        }
    }
}

@media (max-width: 645px) {
    .mix__ovomix-wrap {
        width: 90%;
    }
}