$red: #F0145A;
$grey1: #B3B3BA;
$grey2: #F5F5FA;
$white: #fff;
$black: #000000;

$text-grey: #4F4F4F;
$main-bg: #F2F2F2;
$sub-main-tite: #828282;
$green:#219653;
$price: #333333;

$bg-phone: #3ECF5E;
$bd: #BDBDBD;
$numbers: #828282;